body {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.listado {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 45px;
  width: 100%;
}

.notFound {
  display: flex;
  align-items: center;
  padding: 50px;
  gap: 45px;
  width: 110%;
}

.page-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.buscador {
  display: flex;
  align-items: center;
}

h2 {
  color: #ffff;
}